Repository Kozaki01/2023_04_cteam, pull requests merged in 2023-06, with the labels that each got.

#41 [feat]　一旦全部上げます
  .idea/.gitignore
  .idea/2023_04_cteam.iml
  moriworks/src/pages/top_users.tsx
Labels: feat

#49 [feat]軽微な修正
  .gitignore
  .idea/workspace.xml
  moriworks/package-lock.json
  moriworks/package.json
  moriworks/src/components/HeroBtnPages/HeroBtnPages.module.scss
  moriworks/src/components/index/HeroBtm/HeroBtn.module.scss
  moriworks/src/components/index/HeroBtm/HeroBtn.tsx
  moriworks/src/components/index/SignIn/Signin.tsx
  moriworks/src/components/index/Signup/Signup.module.scss
  moriworks/src/components/index/Signup/Signup.tsx
  moriworks/src/components/top/top.tsx
  moriworks/src/pages/_app.tsx
  moriworks/src/pages/_document.tsx
  moriworks/src/pages/signin.tsx
  moriworks/src/pages/signup.tsx
Labels: bug, fix, css

#46 Fix hover
  moriworks/src/components/Btn.tsx
  moriworks/src/components/Function/DBAccount.tsx
  moriworks/src/components/Header/Header.tsx
  moriworks/src/components/HeroBtnPages/HeroBtnPages.module.scss
  moriworks/src/components/index/SignIn/Signin.tsx
  moriworks/src/components/index/Signup/Signup.module.scss
  moriworks/src/components/index/Signup/Signup.tsx
  moriworks/src/components/index/TopButton/TopButton.module.scss
  moriworks/src/components/index/TopButton/TopButton.tsx
  moriworks/src/pages/Pagination.tsx
Labels: bug, fix, css

#53 マイプロフィールの画面を作成
  moriworks/src/components/Function/DBAccount.tsx
  moriworks/src/components/Function/DBProfile.tsx
  moriworks/src/components/Profile/user.module.scss
  moriworks/src/components/Profile/user.tsx
  moriworks/src/pages/profile_users.tsx
Labels: css
